@media only screen and (min-width: 700px) {

  .circle,
  .line {
    opacity: 1;
  }

  .mobile-hidden {
    display: block;
  }

  .desktop-hidden {
    display: none;
  }

  .center80 {}

  .horizontal-line {
    width: 30vw;
    margin: 1rem auto;
  }

  #front {
    display: flex;
    max-width: 2960px;
  }

  #front-pic {
    display: none;
  }

  #hi-text {
    margin-top: 41vh;
  }

  #front p {
    margin-top: 40vh;
    margin-left: 3rem;
    font-size: 1.2rem;
  }

  #cta {
    margin-top: 70vh;
  }

  #cta a {
    font-size: calc(0.9vw + 0.5rem);
  }

  #about-container {
    margin: 5rem auto 15rem;
    padding-left: 5px;
  }

  #story-container {
    height: auto;
    margin-bottom: 15rem;
  }

  #story-container h5 {
    display: block;
    width: 70%;
    font-size: 1.3rem;
  }

  #story-container .horizontal-line {
    display: block;
  }

  .skills-title {
    display: block;
    text-align: center;
    font-size: calc(0.7vw + 0.5rem);
    margin: 6rem auto 0;
    /* margin-top: 6rem; */
    color: #000;
    /* margin-left: 0; */
  }

  #long-story {
    /* width: 100%; */
    margin-top: 10rem;
    padding-right: 12rem;
  }

  .my-skills {
    margin-bottom: 10vh;
  }

  .my-skills div {
    display: flex;
    justify-content: center;
  }

  .my-skills img {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #my-certs {
    display: flex;
    margin: 0 auto 15rem;
    justify-content: space-around;
    width: 80vw;
  }

  #my-certs div {
    /* display: flex; */
    /* flex-direction: column; */
    width: 10vw;
    /* align-items: center; */
  }

  #my-certs div span {
    font-size: 1rem;
  }

  img[src*="cert"] {
    width: 5rem;
  }

  .work-card {
    /* display: flex; */
    width: 50vw;
    /* margin-bottom: 3vh; */
  }

  .work-card img {
    display: inline-block;
    margin: 0;
  }

  .work-card-text {
    margin-left: 1rem;
    align-items: flex-start;
  }

  .work-card-text h5 {
    font-size: 1.3rem;
    margin: 0;
  }

  .work-card-text p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .work-card-tech-tags span {
    margin-right: 1rem;
  }

  .work-card-btn-container {
    justify-content: flex-start;
  }

  .work-card-btn {
    margin-right: 3rem;
  }

  #contact-container {
    width: 50%;
  }

  #about-me,
  #my-work,
  #skills,
  #contact {
    /* font-size: 2rem; */
    /* margin: 7vh auto 14vh; */
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-left: 5px;
    max-width: 2960px;
    text-align: left;
  }
}


/*  ******** */
/* **************** ABOVE 900 */
/* ********* */


@media only screen and (min-width: 900px) {
  #hamburger-menu {
    display: none;
  }

  #nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 9999999;
    background: linear-gradient(180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 85%,
        rgba(254, 255, 255, 0) 100%);
    justify-content: flex-end;
  }

  #front {
    width: 80%;
  }



  #hi-text h1 {
    font-size: calc(8vw - 1rem);
  }

  #hi-text h3 {
    /* font-size: calc(4vw - 1rem); */
    font-size: 1.5rem;
  }

  #my-certs {
    width: 70vw;
  }



}

@media only screen and (min-width: 1000px) {

  .my-skills div:first-child {
    display: flex;
    justify-content: flex-end;
  }

  #front p {
    font-size: 1.3rem;
  }

  .work-card {
    display: flex;
    width: 60vw;
    margin-bottom: 3vh;
  }
}


@media (min-width: 1300px) {

  #nav-bar div:nth-child(6) {
    margin-right: 5rem;
  }

  #hi-text h3 {
    font-size: 2.5rem;
  }

  #front p {
    margin-top: 45vh;
    font-size: calc(100vw / 80);
  }

  .my-skills {
    flex-direction: row;
    justify-content: center;
  }

  #my-certs {
    width: 60vw;
  }

  .work-card {
    width: 40vw;
  }
}


@media (min-width: 1700px) {

  #homeLink,
  #aboutLink,
  #workLink,
  #contactLink {
    /* margin-right: 2.8vw; */
    font-size: 1.3rem;
    /* font-weight: bold; */
  }

  #my-certs{
    margin-top: 4rem;
  }

  .card-text p {
    font-size: calc(.6vw + .5rem);
  }

  .card-btn-container a {
    font-size: 1.2rem;
    padding-top: .8rem;
  }
}

@media (min-width: 1900px) {

  #nav-bar img {
    width: 1.8vw;
  }

  #story-text p {
    line-height: 2rem;
    letter-spacing: -.01rem;
    word-spacing: -.1rem;
  }

  .my-skills img {
    width: 4.5vw;
    height: 4.5vw;
  }

  img[src*="cert"] {
    width: 10vw;
  }

  #my-certs div span {
    font-size: 1.5rem;
  }
}


@media (min-width: 2000px) {

  #homeLink,
  #aboutLink,
  #workLink,
  #contactLink {
    margin-right: 3vw;
    font-size: 2rem;
  }

  #nav-bar>div {
    margin-top: 1rem;
  }

  #front p {
    margin-left: 7rem;
  }


  #story-text p {
    font-size: 2rem;
  }



  .card-text p {
    font-size: calc(.6vw + .5rem);
    margin-top: .5rem;
    margin-bottom: 1rem;
  }

  .card-tech-tags span {
    font-size: 1.5rem;
    padding: .1rem .5rem;
  }
}

@media (min-width: 2300px) {
  #hi-text h3 {
    font-size: 4rem;
    top: -65px;
    left: 90px;
  }

  #story-container h5 {
    font-size: 2rem;
  }
}

@media (min-width: 2500px) {

  #contactLink {
    border: 5px solid;
    border-radius: 3rem;
  }

  #story-text p {
    line-height: 3rem;
  }

  .card {
    padding: 2rem;
  }

  .card-text {
    margin-left: 3rem;
  }

  .card-text p {
    font-size: calc(.7vw + .6rem);
  }

  .card-text h5 {
    font-size: calc(1.1vw + .5rem);
  }

  .card-tech-tags span {
    font-size: 1.8rem;
    padding: .1rem .5rem;
  }

  .card-btn-container a {
    width: 28rem;
    height: 5rem;
    font-size: 2rem;
    padding-top: 1.1rem;
  }
}

@media (min-width: 2600px) {
  #hi-text h3 {
    font-size: 3.5rem;
  }
}

@media (min-width: 2900px) {

  #hi-text h3 {
    font-size: 6rem;
    top: -80px;
  }
}