@media (min-width: 700px) {
  #front {
    display: flex;
  }

  #front-pic {
    display: none;
  }

  #hi-text {
    margin-top: 45vh;
  }

  #front p {
    margin-top: 50vh;
    margin-left: 7rem;
    font-size: 1.1vw;
  }
}

@media (min-width: 900px) {
  #hamburger-menu {
    display: none;
  }

  #nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 9999999;
    background: linear-gradient(180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 85%,
        rgba(254, 255, 255, 0) 100%);
    justify-content: flex-end;
  }

  #front {
    width: 80%;
  }

  #hi-text h1 {
    font-size: calc(8vw - 1rem);
  }

  #hi-text h3 {
    font-size: calc(4vw - 1rem);
  }
}

@media (min-width: 1000px) {

  .my-skills div:first-child {
    display: flex;
    justify-content: flex-end;
  }

  #story-pic {
    display: none;
  }
}


@media (min-width: 1300px) {

  #nav-bar div:nth-child(6) {
    margin-right: 5rem;
  }

  .my-skills {
    flex-direction: row;
    justify-content: center;
  }
}


@media (min-width: 1700px) {

  .card-text p {
    font-size: calc(.6vw + .5rem);
  }

  .card-btn-container a {
    font-size: 1.2rem;
    padding-top: .8rem;
  }
}

@media (min-width: 1900px) {
  #story-text p {
    line-height: 2rem;
    letter-spacing: -.01rem;
    word-spacing: -.1rem;
  }
}


@media (min-width: 2000px) {

  #homeLink,
  #aboutLink,
  #workLink,
  #contactLink {
    margin-right: 3vw;
    font-weight: bold;
  }

  #story-text p {
    font-size: 3rem;
  }

  .card-text p {
    font-size: calc(.6vw + .5rem);
    margin-top: .5rem;
    margin-bottom: 1rem;
  }

  .card-tech-tags span {
    font-size: 1.5rem;
    padding: .1rem .5rem;
  }
}

@media (min-width: 2300px) {
  #hi-text h3 {
    top: -5.5rem;
  }
}

@media (min-width: 2500px) {

  #contactLink {
    border: 5px solid;
    border-radius: 3rem;
  }

  #story-text p {
    line-height: 3rem;
  }

  .card {
    padding: 2rem;
  }

  .card-text {
    margin-left: 3rem;
  }

  .card-text p {
    font-size: calc(.7vw + .6rem);
  }

  .card-text h5 {
    font-size: calc(1.1vw + .5rem);
  }

  .card-tech-tags span {
    font-size: 1.8rem;
    padding: .1rem .5rem;
  }

  .card-btn-container a {
    width: 28rem;
    height: 5rem;
    font-size: 2rem;
    padding-top: 1.1rem;
  }
}

@media (min-width: 2600px) {
  #hi-text h3 {
    top: -6rem;
  }
}

@media (min-width: 2900px) {
  #hi-text h3 {
    top: -7rem;
  }
}