.hidden {
	display: none;
}

video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: -2;
}

.water-icon {
	position: fixed;
	top: 0.5rem;
	left: 0.5rem;
	width: 1.5vw;
	height: 1.5vw;
	z-index: 9999;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.color-picker > fieldset {
	z-index: 5;
	border: 0;
	position: fixed;
	right: -1rem;
	top: 3rem;
	transform: rotate(90deg);
	display: flex;
	gap: 1rem;
	width: fit-content;
}

.color-picker input[type="radio"] {
	appearance: none;
	width: 0.5rem;
	height: 0.5rem;
	outline: 2px solid var(--radio-color, currentColor);
	outline-offset: 1px;
	border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
	background-color: var(--radio-color);
}

.color-picker input[type="radio"].pink {
	--radio-color: #bb83f0;
}

.color-picker input[type="radio"].blue {
	--radio-color: blue;
}

.color-picker input[type="radio"].green {
	--radio-color: green;
}

.color-picker input[type="radio"].dark {
	--radio-color: red;
}

:root:has(.pink:checked) {
	--alt-color: #bb83f0;
}

:root:has(.blue:checked) {
	--alt-color: blue;
}

:root:has(.green:checked) {
	--alt-color: green;
}

:root:has(.dark:checked) {
	--alt-color: red;
}

.nav__small {
	display: none;
}

@media (min-width: 992px) {
	.nav__small {
		position: fixed;
		display: flex;
		gap: 1rem;
		bottom: -5rem;
		left: 50vw;
		transform: translate(-50%);
		backdrop-filter: blur(10px);
		border-radius: 50px;
		padding: 0.1rem 1.5rem;
		z-index: 999;
		font-weight: bold;
		color: var(--font-color);
		outline: 1px solid var(--alt-color);
		transition: bottom 0.8s;
	}
	.nav__small-link {
		border-radius: 30px;
		transition: all 0.5s;
		padding: 0.3rem;
	}

	.nav__small-link:hover {
		background-color: #bb83f05b;
	}

	.nav__small-link img {
		width: 3rem;
		height: 3rem;
		transition: all 0.5s;
	}

	.social {
		position: fixed;
		top: 60vh;
		right: 0.5rem;
		z-index: 999;
		width: auto;
		display: inline-block;
		transform: rotate(180deg);
		writing-mode: vertical-rl;
		font-size: 1rem;
	}
}

.front-section {
	position: relative;
	margin: 0 auto;
	height: 100vh;
	overflow-x: hidden;
}

@media (min-width: 768px) {
	.front-section {
		display: flex;
		width: 80%;
	}
}

@media (min-width: 992px) {
	.front-section p {
		margin-right: 0;
	}
}

.circle {
	position: absolute;
	left: -10px;
	top: 50%;
	width: 12px;
	height: 12px;
	background-color: var(--alt-color);
	border-radius: 15px;
	opacity: 0;
}

.line {
	position: absolute;
	left: -10px;
	top: 50%;
	width: 1px;
	background-color: var(--alt-color);
	opacity: 0;
}

@media (min-width: 768px) {
	.circle,
	.line {
		opacity: 1;
	}
}

.hi-text {
	position: relative;
	margin-top: 37vh;
	font-family: "Silkscreen", "sans-serif";
	font-weight: bold;
}

@media (min-width: 768px) {
	.hi-text {
		margin-top: 44vh;
	}
}

.hi-text p:first-child {
	position: absolute;
	top: -95px;
	left: 5rem;
	display: inline-block;
	padding: 0.3rem;
	border: 3px solid #fff;
	background-color: rgb(0, 0, 0);
	color: var(--alt-color);
	font-size: 1.5rem;
	z-index: 99;
	opacity: 0;
	transition: all 0.8s;
	user-select: none;
	-webkit-user-select: none;
}

@media (min-width: 992px) {
	.hi-text p:first-child {
		margin-left: 3rem;
		font-size: 1.5rem;
	}
}

@media (min-width: 1280px) {
	.hi-text p:first-child {
		font-size: 2.1rem;
	}
}

.hi-text p:last-child {
	display: inline-block;
	padding: 0.3rem;
	margin-left: 3rem;
	background-color: black;
	color: var(--alt-color);
	font-size: 3.5rem;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
}

@media (min-width: 992px) {
	.hi-text p:last-child {
		margin-left: 4rem;
	/*	TODO: redo the calc into breakpoints*/
		font-size: calc(8vw - 1rem);
	}
}

.meet {
	margin: 4rem 0 0;
	width: 100%;
	padding-right: 3rem;
	padding-left: 1rem;
	font-size: 1.1rem;
	font-weight: bold;
	line-height: 1.5em;
	font-family: "Alata", "Arial";
	opacity: 0;
	text-align: center;
}

@media (min-width: 768px) {
	.meet {
		margin-top: 50vh;
		padding: 0 2rem 0;
		font-size: 1rem;
	}
}

@media (min-width: 1280px) {
	.meet {
		margin-top: 45vh;
		font-size: 1.2rem;
	}
}

.cta {
	position: relative;
	display: none;
	width: 14rem;
	height: 55px;
	margin-top: 9rem;
	transform: translateX(-7rem);
	opacity: 0;
}

@media (min-width: 768px) {
	.cta {
		margin-top: 70vh;
	}
}

@media (min-width: 992px) {
	.cta {
		display: inline-flex;
	}
}

.cta a {
	font-size: 1.3rem;
	letter-spacing: 1px;
	transform-style: preserve-3d;
	transform: translateZ(-25px);
	transition: transform 0.25s;
	font-family: Alata, sans-serif;
}

@media (min-width: 768px) {
	.cta a {
		font-size: calc(0.9vw + 0.5rem);
	}
}

.cta a:before,
.cta a:after {
	display: flex;
	position: absolute;
	content: "See my work";
	height: 55px;
	width: 14rem;
	align-items: center;
	justify-content: center;
	border: 5px solid #000;
	box-sizing: border-box;
	border-radius: 7px;
}

.cta a:before {
	color: #fff;
	background: #000;
	transform: rotateY(0deg) translateZ(25px);
}

.cta a:after {
	color: #000;
	transform: rotateX(90deg) translateZ(25px);
}

.cta a:hover {
	transform: translateZ(-25px) rotateX(-90deg);
}

.about-section {
	margin-top: 5rem;
	scroll-margin-top: 2rem;
}

.about-me {
	font-size: 3rem;
	text-align: center;
	margin: 1rem auto;
}

.my-work,
.contact {
	margin: 0 auto 1rem;
	font-size: 3rem;
	text-align: center;
}

.about-me,
.my-work,
.skills,
.contact {
	color: var(--alt-color);
}

@media (min-width: 768px) {
	.about-me,
	.my-work,
	.skills,
	.contact {
		display: block;
		position: relative;
		width: 80%;
		margin: 0 auto;
		padding-left: 5px;
		text-align: left;
		font-size: 2rem;
	}
}

.about-container {
	position: relative;
	margin: 0 auto;
}

@media (min-width: 768px) {
	.about-container {
		margin: 12vh auto 15rem;
	}
}

.story-container {
	position: relative;
	height: 100vh;
}

@media (min-width: 768px) {
	.story-container {
		height: auto;
		margin-bottom: 15rem;
	}
}

.story-container p {
	position: relative;
	width: 70%;
	height: 30vh;
	margin: 14rem auto 0;
	text-align: center;
	font-family: "Source Code Pro", "Arial";
	transition: opacity 1.5s,
	margin-top 1.5s;
	opacity: 0;
}

@media (min-width: 768px) {
	.story-container p {
		text-align: left;
	}
}

@media (min-width: 768px) {
	.story-container .horizontal-line {
		display: block;
	}
}

.home__yoo-link {
	text-decoration: underline;
}

.cv {
	display: flex;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin-top: 12rem;
	justify-content: center;
	transition: opacity 1s, margin-top 1s;
	opacity: 0;
}

@media (min-width: 768px) {
	.cv {
		left: 85%;
	}
}

.cv a {
	padding: 0.5rem;
	font-size: 1.2rem;
	color: #fff;
	background: linear-gradient(-135deg, transparent 10px, #000 0) no-repeat;
	z-index: 10;
}

.cv a:hover {
	color: var(--alt-color);
}

.skills {
	margin: 5rem auto 1rem;
	text-align: center;
}

@media (min-width: 768px) {
	.skills {
		margin-top: 25rem;
		text-align: unset;
	}
}

.horizontal-line {
	width: 70vw;
	margin: 0 auto 3rem;
	border: 1px solid var(--font-color);
	opacity: 0.5;
}

@media (min-width: 768px) {
	.horizontal-line {
		width: 30vw;
		margin: 1rem auto;
	}
}

.skills-title {
	margin-top: 5rem;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 1rem;
}

@media (min-width: 768px) {
	.skills-title {
		display: block;
		margin: 6rem auto 0;
		text-align: center;
		font-size: calc(0.7vw + 0.5rem);
		color: #000;
	}
}

@media (min-width: 768px) {
	.long-story-btn {
		margin-top: 10rem;
		padding-right: 12rem;
	}
}

.my-skills {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 8rem auto 2rem;
	padding: 0 12%;
	opacity: 0;
	transition: all 1s;
}

@media (min-width: 768px) {
	.my-skills {
		margin-bottom: 10vh;
	}
}

@media (min-width: 1280px) {
	.my-skills {
		flex-direction: row;
		justify-content: center;
	}
}

@media (min-width: 768px) {
	.my-skills div {
		display: flex;
		justify-content: center;
	}
}

@media (min-width: 992px) {
	.my-skills div:first-child {
		display: flex;
		justify-content: flex-end;
	}
}

.my-skills img {
	width: 19%;
	max-width: 4rem;
	margin: 1rem;
}

@media (min-width: 768px) {
	.my-skills img {
		max-width: 4rem;
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

.my-certs {
	margin: 0 auto;
}

@media (min-width: 768px) {
	.my-certs {
		display: flex;
		margin: 0 auto 15rem;
		justify-content: space-around;
		width: 80vw;
	}
}

@media (min-width: 992px) {
	.my-certs {
		width: 70vw;
	}
}

@media (min-width: 1280px) {
	.my-certs {
		width: 60vw;
	}
}

@media (min-width: 768px) {
	.certs-mt {
		margin-top: 17rem;
	}
}

.my-certs div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
	opacity: 0;
	transition: all 1s;
}

@media (min-width: 768px) {
	.my-certs div {
		width: 10vw;
	}
}

.my-certs div span {
	margin-bottom: 2rem;
	font-size: 1.3rem;
	font-weight: bold;
	text-align: center;
}

@media (min-width: 768px) {
	.my-certs div span {
		font-size: 1rem;
	}
}

img[src*="Cert"] {
	height: auto;
	width: 70vw;
	cursor: pointer;
	transition: 0.3s;
}

@media (min-width: 768px) {
	img[src*="Cert"] {
		width: 5rem;
	}
}

.work-section {
	margin-top: 5rem;
	scroll-margin-top: 2rem;
}

@media (min-width: 768px) {
	.my-work {
		margin-top: 25rem;
	}
}

.work-container {
	margin: 5rem auto 0;
}

.work-card {
	margin: 0 auto 5rem;
	padding: 1rem;
	border-left: 1px solid #80808085;
	border-bottom: 1px solid #80808085;
}

@media (min-width: 768px) {
	.work-card {
		width: 50vw;
	}
}

@media (min-width: 992px) {
	.work-card {
		display: flex;
		width: 60vw;
		margin-bottom: 3vh;
	}
}

@media (min-width: 1280px) {
	.work-card {
		width: 50vw;
	}
}

.work-card img {
	display: block;
	margin: 0 auto;
	width: 70vw;
	height: auto;
	border: 1px solid #0000007c;
	object-fit: cover;
}

@media (min-width: 768px) {
	.work-card img {
		display: inline-block;
		margin: 0;
		width: 18rem;
	}
}

.work-card-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 768px) {
	.work-card-text {
		margin-left: 2rem;
		align-items: flex-start;
		justify-content: space-between;
	}
}

.work-card-text h5 {
	margin: 1rem 0;
	font-size: 1.5rem;
}

@media (min-width: 768px) {
	.work-card-text h5 {
		font-size: calc(.8vw + .6rem);
		margin: 0;
	}
}

.work-card-text p {
	margin-bottom: 1rem;
	font-size: 1.1rem;
}

@media (min-width: 768px) {
	.work-card-text p {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
		font-size: calc(.7vw + .1rem);
	}
}

.work-card-tech-tags {
	display: flex;
}

.work-card-tech-tags span {
	margin-right: 1rem;
	padding: 0.1rem 0.5rem;
	background-color: rgba(128, 128, 128, 0.253);
	border-radius: 0.5rem;
}

@media (min-width: 768px) {
	.work-card-tech-tags span {
		margin-right: 1rem;
	}
}

.work-card-btn-container {
	display: flex;
	width: 100%;
	margin-top: 1rem;
	justify-content: space-around;
}

@media (min-width: 768px) {
	.work-card-btn-container {
		justify-content: flex-start;
	}
}

.work-card-btn {
	display: inline-block;
	padding: .4rem .5rem;
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	background-color: #000;
	transition: color ease-in 0.2s;
}

@media (min-width: 768px) {
	.work-card-btn {
		font-size: calc(.7vw + .5rem);
		margin-right: 3rem;
	}
}

.work-card-btn:hover {
	color: var(--alt-color);
}

.heatmap {
	width: 90vw;
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
}

@media (min-width: 992px) {
	.heatmap {
		width: 50vw;
	}
}

@media (min-width: 768px) {
	.contact {
		margin-top: 10rem;
	}
}

.contact-container {
	position: relative;
	width: 90%;
	height: 75vh;
	margin: 2rem auto 0;
	padding-left: 5px;
}

@media (min-width: 768px) {
	.contact-container {
		width: 50%;
	}
}

.contact-container h1 {
	margin-bottom: 3rem;
	text-align: center;
}

.contact-container p {
	margin-bottom: 5rem;
	text-align: center;
}

.contact-container input:not(:last-child) {
	width: 100%;
	height: 1.5rem;
}

.contact-container input,
.contact-container label,
.msg {
	font-size: calc(.5vw + .5rem);
}

.msg {
	width: 100%;
}

.contact-container input:last-child {
	display: inline;
	margin-top: 1rem;
	margin-bottom: 6rem;
	padding: 0.3rem 0.5rem;
	border-radius: 3px;
	background-color: #000;
	/*font-size: calc(.7vw + .9rem);*/
	font-family: Alata, sans-serif;
	color: #fff;
	text-align: center;
		font-size: 1rem;
}

.mobile-hidden {
	display: none;
}

@media (min-width: 768px) {
	.mobile-hidden {
		display: block;
	}

	.desktop-hidden {
		display: none;
	}
}

footer {
	text-align: center;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 500px;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@media (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}
