/* @import "media-queries.css"; */
@import "globals.css";
@import "hamburger.css";

#outline {
  position: fixed;
  left: 1rem;
  top: 1vh;
  z-index: 99999999;
}

.hide{
  display: none;
}

.show{
  display: block;
}

html{
  scroll-behavior: smooth;
}
/* -----------------------------------NAVBAR */

#nav-bar {
  display: none;
}

#nav-bar>div {
  margin-top: .5rem;
}

#nav-bar div:nth-child(5) {
  margin-right: 1rem;
}

#nav-bar div:nth-child(6) {
  margin-right: 2rem;
}

a[href*="linkedin"],
a[href*="git"] {
  transition: opacity 0.6s ease;
}

a[href*="linkedin"]:hover,
a[href*="git"]:hover {
  opacity: 0.5;
}

#nav-bar img {
  width: 1.5rem;
}

#homeLink,
#aboutLink,
#workLink,
#contactLink {
  margin-right: 2.8vw;
  font-size: 1rem;
  font-weight: bold;
}

#contactLink {
  border: 3px solid;
  border-radius: 2rem;
  padding: .1rem .3rem;
  transition: background-color 0.4s;
}

#contactLink:hover{
  background-color: #00000028;
}

/* --------------------------FRONTPAGE */

#video-banner {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}

#front {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#circle {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--alt-color);
  left: 10vw;
  top: 50vh;
  border-radius: 15px;
  opacity: 0;
}

#line {
  position: absolute;
  width: 1px;
  background-color: var(--alt-color);
  left: calc(10vw + 5px);
  top: 50%;
  opacity: 0;
}

#hi-text {
  margin-top: 10vh;
  position: relative;
}

#my-pic {
  margin-left: 7rem;
  margin-top: 3rem;
  width: 15rem;
}

#hi-text h3 {
  position: absolute;
  background-color: rgb(0, 0, 0);
  color: var(--alt-color);
  border: 3px solid #fff;
  font-size: 1.5rem;
  display: inline-block;
  padding: 0.3rem;
  margin-left: 7rem;
  left: 4rem;
  top: -35px;
}

#hi-text h1 {
  background-color: black;
  color: #fff;
  font-size: 3.5rem;
  padding: 0.3rem;
  margin-left: 9rem;
}

#front p {
  width: 80%;
  margin: 6rem auto 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5em;
}

#cta {
  position: relative;
  display: none;
  width: 14rem;
  height: 55px;
  margin-top: 9rem;
  transform: translateX(-7rem);
}

#cta a {
  font-size: 1.3rem;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: Alata, sans-serif;
}

#cta a:before,
#cta a:after {
  position: absolute;
  content: "See my work";
  height: 55px;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #000;
  box-sizing: border-box;
  border-radius: 7px;
}

#cta a:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}

#cta a:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}

#cta a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

/* ******* */
/* ----------------------------------ABOUT ME */
/* ******* */

#about-me,
#my-work,
#skills,
#contact {
  font-size: 3rem;
  width: 100vw;
  text-align: center;
  margin: 15rem auto 1rem;
  display: block;
}

#about-container {
  position: relative;
  margin: 0rem auto 15rem;
}

#story-conainer{
  position: relative;
}

#story-container h5 {
  display: none;
}

#about-me::first-letter,
#my-work::first-letter,
#skills::first-letter,
#contact::first-letter {
  color: var(--alt-color);
}

.horizontal-line {
  border: 1px solid var(--font-color);
  opacity: 0.5;
  width: 70vw;
  margin: 0rem auto 3rem;
  display: block;
}

.skills-title {
  display: block;
  text-align: left;
  font-size: 1rem;
  margin-top: 6rem;
  color: #000;
  margin-left: 15vw;
}

.skills-title::first-letter {
  color: #000 !important;
}

.my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.my-skills img {
  width: 13vw;
  height: 13vw;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: 3rem;
}

#my-certs {
  margin: 0 auto 15rem;
}

#my-certs div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my-certs div span {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

img[src*="cert"] {
  height: auto;
  margin: 0 auto;
  width: 70vw;
  max-width: 400px;
}

#story-text,
#hidden-story {
  width: 70%;
  height: 30vh;
  margin: 0 auto;
}

#short-story{
  opacity: 1;
}

#hidden-story{
  position: absolute;
  top: 5rem;
  left: 15%;
  opacity: 0;
}

#story-text p,
#hidden-story p {
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: -0.1rem;
  word-spacing: -0.1rem;
  margin-top: 2rem;
  text-align: center;
}

#long-story-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 8rem;
  padding-right: 10rem;
}

#long-story-btn p {
  font-size: calc(0.7vw + 0.5rem);
  color: var(--alt-color);
  cursor: pointer;
}

#cv{
  display: flex;
  justify-content: center;
}

#cv a{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  color: #fff;
  /* background-color: #000; */
  background: linear-gradient(-135deg, transparent 10px, #000 0);
    background-repeat: no-repeat;
}

/* ****** */
/* ----------------MY-WORK */
/* ******* */


#work-container {
  margin: 7rem auto 10rem;
}

.work-card {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  padding: 1rem;
  border-left: 1px solid #80808085;
  border-bottom: 1px solid #80808085;
}

.work-card img {
  border: 1px solid #0000007c;
  width: 18rem;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.work-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-card-text h5 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.work-card-text p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.work-card-tech-tags {
  display: flex;
}

.work-card-tech-tags span {
  margin-right: 1rem;
  background-color: rgba(128, 128, 128, 0.253);
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
}

.work-card-btn-container {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  justify-content: space-around;
}

.work-card-btn {
  transition: color ease-in 0.2s;
  text-align: center;
  color: #fff;
  display: inline-block;
  padding: .4rem .5rem;
  margin-right: 0rem;
  background-color: #000;
}

.work-card-btn:hover {
  color: var(--alt-color);
}

/* ************ */
/* ------------------CONTACT */
/* ************* */


#contact-container {
  padding-left: 5px;
  position: relative;
  width: 90%;
  height: 75vh;
  margin-top: 12vh;
  margin-left: auto;
  margin-right: auto;
}

#contact-container h1 {
  text-align: center;
  margin-bottom: 3rem;
}

#contact-container p {
  text-align: center;
  margin-bottom: 5rem;
}

#contact-container input:not(:last-child) {
  width: 100%;
  height: 1.5rem;
}

#contact-container input,
#contact-container label,
#msg{
  font-size: calc(.5vw + .5rem);
}

#msg {
  width: 100%;
}

#contact-container input:last-child {
  /* width: 15rem; */
  /* height: 2rem; */
  font-size: calc(.7vw + .5rem);
  display: inline;
  padding: 0.3rem 0.5rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
  border-radius: 3px;
  background-color: #000;
  font-family: Alata, sans-serif;
  color: #fff;
  text-align: center;
}

.mobile-hidden {
  display: none;
}

.desktop-hidden{
  display: block;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}