.hidden {
	display: none;
}

.mobile-hidden {
	display: none;
}

@media (min-width: 768px) {
	.mobile-hidden {
		display: block;
	}

	.desktop-hidden:is(.desktop-hidden) {
		display: none;
	}
}

video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: -2;
}

.water-icon {
	position: fixed;
	top: 0.5rem;
	left: 0.5rem;
	width: 1.5vw;
	height: 1.5vw;
	z-index: 9999;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.color-picker > fieldset {
	z-index: 5;
	border: 0;
	position: fixed;
	right: -1rem;
	top: 3rem;
	transform: rotate(90deg);
	display: flex;
	gap: 1rem;
	width: fit-content;
}

.color-picker input[type="radio"] {
	appearance: none;
	width: 0.5rem;
	height: 0.5rem;
	outline: 2px solid var(--radio-color, currentColor);
	outline-offset: 1px;
	border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
	background-color: var(--radio-color);
}

.color-picker input[type="radio"]#pink {
	--radio-color: #bb83f0;
}

.color-picker input[type="radio"]#blue {
	--radio-color: blue;
}

.color-picker input[type="radio"]#green {
	--radio-color: green;
}

.color-picker input[type="radio"]#dark {
	--radio-color: red;
}

:root:has(#pink:checked) {
	--alt-color: #bb83f0;
}

:root:has(#blue:checked) {
	--alt-color: blue;
}

:root:has(#green:checked) {
	--alt-color: green;
}

:root:has(#dark:checked) {
	--alt-color: red;
}

.circle {
	position: absolute;
	left: -10px;
	top: 50%;
	width: 12px;
	height: 12px;
	background-color: var(--alt-color);
	border-radius: 15px;
	opacity: 0;
}

.line {
	position: absolute;
	left: -10px;
	top: 50%;
	width: 1px;
	background-color: var(--alt-color);
	opacity: 0;
}

.horizontal-line {
	display: block;
	width: 100%;
	margin: 0 auto 1.5rem;
	border: 1px solid #0000004f;
}

section:not(:first-of-type):not(:last-of-type) {
	margin-bottom: 7.5rem;
}

section {
	scroll-margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 3rem;
}

section:not(#contact-section) {
	height: 100%;
	min-height: 100vh;
}

.section-title {
	font-size: 2.4rem;
	text-align: center;
	margin: 0 auto 4rem;
	color: var(--alt-color);
}

@media (min-width: 768px) {
	.section-title {
		display: block;
		position: relative;
		width: 80%;
		margin: 0 auto;
		padding-left: 5px;
		text-align: left;
		font-size: 2rem;
	}
}

@media (min-width: 768px) {
	.circle,
	.line {
		opacity: 1;
	}

	section:not(:first-of-type):not(:last-of-type) {
		margin-bottom: 2rem;
	}
}

.nav__small {
	/* TODO: make navbar highlight section icon where one is */
	position: fixed;
	display: flex;
	bottom: 0.5rem;
	left: 50vw;
	transform: translate(-50%);
	backdrop-filter: blur(10px);
	border-radius: 50px;
	padding: 0.3rem 1.5rem;
	z-index: 2;
	outline: 2px solid var(--alt-color);
	transition: bottom 0.8s;
	gap: 0.5rem;
}

.nav__small-link {
	border-radius: 50%;
	transition: all 0.5s;
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;

	svg path {
		fill: var(--alt-color);
	}
}

.social {
	position: fixed;
	top: 60vh;
	right: -3.5rem;
	transform: rotate(270deg);
	font-size: 1rem;
}

.front-section {
	margin: 0 auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	.front-section {
		display: flex;
		flex-direction: row;
		width: 80%;
	}
}

@media (min-width: 992px) {
	.front-section p {
		margin-right: 0;
	}
}

.front-section__hi-text {
	position: relative;
	/*margin-top: 37vh;*/
	font-family: "Silkscreen", "sans-serif";
	font-weight: bold;
}

@media (min-width: 768px) {
	.front-section__hi-text {
		margin-top: 44vh;
	}
}

.front-section__hi-text p:first-child {
	position: absolute;
	top: -95px;
	left: 5rem;
	display: inline-block;
	padding: 0.3rem;
	border: 3px solid #fff;
	background-color: rgb(0, 0, 0);
	color: var(--alt-color);
	font-size: 1.5rem;
	z-index: 99;
	opacity: 0;
	transition: all 0.8s;
	user-select: none;
	-webkit-user-select: none;
}

@media (min-width: 992px) {
	.front-section__hi-text p:first-child {
		margin-left: 3rem;
		font-size: 1.5rem;
	}
}

@media (min-width: 1280px) {
	.front-section__hi-text p:first-child {
		font-size: 2.1rem;
	}
}

.front-section__hi-text p:last-child {
	display: inline-block;
	padding: 0.3rem;
	/*margin-left: 3rem;*/
	background-color: black;
	color: var(--alt-color);
	font-size: 3.5rem;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
}

@media (min-width: 992px) {
	.front-section__hi-text p:last-child {
		margin-left: 4rem;
		/*	TODO: redo the calc into breakpoints */
		font-size: calc(8vw - 1rem);
	}
}

.front-section__headline {
	margin: 4rem 0 0;
	font-size: 1.1rem;
	font-weight: bold;
	line-height: 1.5em;
	font-family: "Alata", "Arial";
	opacity: 0;
	text-align: center;
}

@media (min-width: 768px) {
	.front-section__headline {
		margin-top: 44vh;
		padding: 0 2rem 0;
		font-size: 1rem;
	}
}

@media (min-width: 1280px) {
	.front-section__headline {
		font-size: 1.2rem;
	}
}

.front-section__cta {
	position: relative;
	display: none;
	height: 55px;
	transform: translateX(-17rem);
	opacity: 0;
}

@media (min-width: 768px) {
	.front-section__cta {
		margin-top: 70vh;
		display: inline-flex;
	}
}

.front-section__cta-link {
	font-size: 1.3rem;
	letter-spacing: 1px;
	transform-style: preserve-3d;
	transform: translateZ(-25px);
	transition: transform 0.25s;
	font-family: Alata, sans-serif;
}

@media (min-width: 768px) {
	.front-section__cta-link {
		font-size: 1.5rem;
	}
}

.front-section__cta-link:before,
.front-section__cta-link:after {
	display: flex;
	position: absolute;
	content: "See my work";
	height: 55px;
	width: 14rem;
	align-items: center;
	justify-content: center;
	border: 5px solid #000;
	box-sizing: border-box;
	border-radius: 7px;
}

.front-section__cta-link:before {
	color: #fff;
	background: #000;
	transform: rotateY(0deg) translateZ(25px);
}

.front-section__cta-link:after {
	color: #000;
	transform: rotateX(90deg) translateZ(25px);
}

.front-section__cta-link:hover {
	transform: translateZ(-25px) rotateX(-90deg);
}

.about-section {
	display: flex;
	flex-direction: column;
}

.about-section__story-container,
.skills-section__skills-container,
.certificates-section__certs-container,
.work-section__work-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
}

.about-section__story-text {
	position: relative;
	/*width: 70%;*/
	margin: 0 auto;
	text-align: center;
	font-family: "Source Code Pro", "Arial";
	transition: opacity 2s,	margin-top 2s;
	/* TODO: if story wont slide up, remove margin-top transition */
	opacity: 0;
}

@media (min-width: 768px) {
	.about-section__story-text {
		text-align: left;
	}
}

.about-section__cv-button {
	display: inline-block;
	margin-top: 5rem;
	transition: opacity 1s, margin-top 1s;
	/* TODO: if cv button wont slide up, remove margin-top transition */
	opacity: 0;
	width: fit-content;
	align-self: center;
	padding: 0.5rem;
	font-size: 1.2rem;
	color: #fff;
	background-color: black;
	z-index: 10;
}

@media (min-width: 768px) {
	.about-section__cv-button {
		left: 85%;
	}
}

.about-section__cv-button:hover {
	color: var(--alt-color);
}

.skills-section__skills-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
	column-gap: 2rem;
	/*padding: 0 3rem;*/
	opacity: 0;
	transition: all 1s;
}

.skills-section__skills-container > img {
	max-width: 5rem;
}

@media (min-width: 768px) {
	.skills-section__skills-container > img {
		max-width: 4rem;
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

.certificates-section__certs-container {
	/*margin: 0 auto;*/
}

@media (min-width: 768px) {
	.certificates-section__certs-container {
		display: flex;
		margin: 0 auto;
		justify-content: space-around;
		width: 80vw;
	}
}

@media (min-width: 992px) {
	.certificates-section__certs-container {
		/*width: 70vw;*/
	}
}

@media (min-width: 1280px) {
	.certificates-section__certs-container {
		/*width: 60vw;*/
	}
}

.certificates-section__certs-container div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
	opacity: 0;
	transition: all 1s;
}

@media (min-width: 768px) {
	.certificates-section__certs-container div {
		/*width: 10vw;*/
	}
}

.certificates-section__certs-container div span {
	margin-bottom: 2rem;
	font-size: 1.3rem;
	font-weight: bold;
	text-align: center;
}

@media (min-width: 768px) {
	.certificates-section__certs-container div span {
		font-size: 1rem;
	}
}

.certificates-section__cert-image {
	height: auto;
	width: 100%;
	cursor: pointer;
	transition: 0.3s;
}

@media (min-width: 768px) {
	.certificates-section__cert-image {
		/*width: 5rem;*/
	}
}

.work-section__work-card {
	margin: 1rem 0;
	/*padding: 1rem;*/
	border-left: 1px solid #80808085;
	border-bottom: 1px solid #80808085;
}

.work-section__work-card:last-child {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.work-section__work-card {
		width: 50vw;
	}
}

@media (min-width: 992px) {
	.work-section__work-card {
		display: flex;
		width: 60vw;
		margin-bottom: 3vh;
	}
}

@media (min-width: 1280px) {
	.work-section__work-card {
		width: 50vw;
	}
}

.work-section__work-card img {
	display: block;
	margin: 0 auto;
	width: 70vw;
	height: auto;
	border: 1px solid #0000007c;
	object-fit: cover;
}

@media (min-width: 768px) {
	.work-section__work-card img {
		display: inline-block;
		margin: 0;
		width: 18rem;
	}
}

.work-section__work-card-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 768px) {
	.work-section__work-card-text {
		margin-left: 2rem;
		align-items: flex-start;
		justify-content: space-between;
	}
}

.work-section__work-card-text h5 {
	margin: 1rem 0;
	font-size: 1.5rem;
}

@media (min-width: 768px) {
	.work-section__work-card-text h5 {
		font-size: calc(.8vw + .6rem);
		margin: 0;
	}
}

.work-section__work-card-text p {
	margin-bottom: 1rem;
	font-size: 1.1rem;
}

@media (min-width: 768px) {
	.work-section__work-card-text p {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
		font-size: calc(.7vw + .1rem);
	}
}

.work-section__work-card-tech-tags {
	display: flex;
}

.work-section__work-card-tech-tags span {
	margin-right: 1rem;
	padding: 0.1rem 0.5rem;
	background-color: rgba(128, 128, 128, 0.253);
	border-radius: 0.5rem;
}

@media (min-width: 768px) {
	.work-section__work-card-tech-tags span {
		margin-right: 1rem;
	}
}

.work-section__work-card-btn-container {
	display: flex;
	width: 100%;
	margin-top: 1rem;
	justify-content: space-around;
}

@media (min-width: 768px) {
	.work-section__work-card-btn-container {
		justify-content: flex-start;
	}
}

.work-section__work-card-btn {
	display: inline-block;
	padding: .4rem .5rem;
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	background-color: #000;
	transition: color ease-in 0.2s;
}

@media (min-width: 768px) {
	.work-section__work-card-btn {
		font-size: calc(.7vw + .5rem);
		margin-right: 3rem;
	}
}

.work-section__work-card-btn:hover {
	color: var(--alt-color);
}

.work-section__heatmap {
	width: 90vw;
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
}

@media (min-width: 992px) {
	.work-section__heatmap {
		/*width: 50vw;*/
	}
}

.contact-section {
	height: calc(100vh - 3rem);
}

.contact-section__container {
	/*position: relative;*/
	/*width: 80%;*/
	/*margin: 0 auto;*/
	height: 100%;
}

@media (min-width: 768px) {
	.contact-section__container {
		/*width: 50%;*/
	}
}

.contact-section__form {
	display: flex;
	flex-direction: column;
}

.contact-section__lead {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1rem;
}

.contact-section__text {
	margin-bottom: 5rem;
	text-align: center;
}

.contact-section__form-input:not(#message) {
	width: 100%;
	height: 1.5rem;
}

.contact-section__form-input#message {
	width: 100%;
	height: 10rem;
}

.contact-section__submit-button {
	margin-top: 1rem;
	padding: 0.3rem 0.5rem;
	border-radius: 3px;
	background-color: #000;
	font-family: Alata, sans-serif;
	color: #fff;
	text-align: center;
	font-size: 1rem;
	align-self: flex-end;
	cursor: pointer;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 3rem;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 500px;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@media (max-width: 768px) {
	.modal-content {
		width: 100%;
	}
}
